.banner-nav {
   background-color: #004e92;
}

.texto{
 color: #004e92;
 margin: 2rem 0 0 2rem;
}

.bike {
    text-align: center;
    color: #aad8ef;
    font-size: 1.5rem;

}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }
.card{
 margin: 3rem 0 0 3rem;
 box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
 transition:all 400ms ease;
 cursor: default;
}

.card:hover {
box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
transform: translateY(-3%);
}

.card-body {
      background-color: #aad8ef;
  }

.card-title{
    color: #004e92;
}