.nav-link {
color: #004E92 !important;
}

.navbar-btn {
    border: #004E92 solid 0.21rem;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
}

.navbar-btn:hover {
    border: white solid 0.21rem;
    background-color: #004E92;
    color: white !important;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
}

.dark-blue {
    background: #004E92;
    
}

.gray{
    color: #81848a;
}


 
.showcase {
    position: relative;
}

.center {
    position: absolute;
    bottom: 370px;
     
}

.increase {
    position: absolute;
    bottom: 65px;
    left: 1px;
}